{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "prettier", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "no-unreachable-loop": "off",
    "no-unreachable": "off",
    "semi": "off",
    "comma-dangle": "off",
    "no-prototype-builtins": 0,
    "handle-callback-err": "off",
    "node/handle-callback-err": "off",
    "no-var": "off",
    "array-callback-return": "off",
    "multiline-ternary": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prefer-spread": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off"
  },
  "overrides": [
    {
      "files": ["__tests__/**/*.ts"],
      "parserOptions": {
        "tsconfigRootDir": "./__tests__"
      }
    }
  ]
}
