.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
test
scripts
example
docs
.github
lib
.nyc_output
.idea
.husky
.mocharc.js
docker-compose.yaml
docker-compose-7.yaml
